Source: archeos-desktop
Section: metapackages
Priority: optional
Maintainer: Fabrizio Furnari <fab.furnari@gmail.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7.0.8)
Vcs-Git: git://github.com/archeos/archeos-desktop.git
Vcs-Browser: https://github.com/archeos/archeos-desktop
Homepage: https://www.archeos.eu

Package: archeos-desktop
Architecture: all
Depends: gdm3, desktop-base, gnome-core, locales, menu, sudo, ${misc:Depends}
Description: Standard base desktop metapackage
 This metapackage depends on all of the software needed to build a standard
 ArcheOS environment.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: archeos-tasks
Architecture: all
Depends: tasksel (>=3.00)
Description: ArcheOS tasks for tasksel.
 This package provides ArcheOS tasks in tasksel.

Package: archeos-menu
Architecture: all
Depends: desktop-profiles
Description: ArcheOS menu reorganization
 A package to reorganizate menu branches in order to get a structure
 convenient for archaeologists.
 .



