Source: archeos-desktop
Section: metapackages
Priority: optional
Maintainer: Fabrizio Furnari <fab.furnari@gmail.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7.0.8)
Vcs-Git: git://github.com/archeos/archeos-desktop.git
Vcs-Browser: https://github.com/archeos/archeos-desktop
Homepage: http://www.archeos.eu

Package: archeos-desktop
Architecture: all
Depends: gdm3, desktop-base, gnome-core, locales, menu, sudo, ${misc:Depends}
Description: Standard base desktop metapackage
 This metapackage depends on all of the software needed to build a standard
 desktop environment.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
